[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pdfplumber = "*"
python-docx = "*"
pandas = "*"
python-multipart = "*"
google-genai = "*"
google-generativeai = ">=0.7.2"

[dev-packages]

[requires]
python_version = "3.12"
